.container{
    width: 60vw;
    height: 20vw;
    /* border: 2px solid red; */
    background-color: rgb(166, 195, 219);
    margin: auto;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time{
    font-size: 40px;
}
.date{
    /* margin-top: 3rem; */
    margin-left: 1rem;
}